.jumbotron {
    padding-top: 5rem;
}

section {
    scroll-margin-top: 60px;
}

#project,
.kosong,
.jumbotron {
    background-color: #e2edff;
}

#project .card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

#gallery .row > * {
    /* semua yg ada didlm row persis setelahnya */
    padding: 0;
}

#gallery .row:nth-child(2) #img-thumb {
    padding: 2px;
}

#gallery .row:nth-child(2) #img-thumb:hover {
    opacity: 0.6;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-full {
    display: block;
    margin: 20vh auto;
    width: 80%;
    max-width: 600px;
    animation: zoom 500ms;
}

#contact {
    /* background-color: #e2edffd8; */
    background-color: #e2edffb4;
}

footer {
    margin-top: -1px;
    font-weight: 300;
}

footer p a {
    text-decoration: none;
    border-bottom: 1.3px solid white;
}

@keyframes zoom {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* My newProject */
.new-box {
    position: relative;
    background-color: #0D6EFD;
    border-radius: 10px;
    height: 530px;
    transform-style: preserve-3d;
}
.new-box::before {
    content: "New";
    position: absolute;
    font-size: 8rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.15;
    transition: .5s;
}

.new-box:hover::before {
    opacity: .45;
}

.new-box::after {
    content: "Project";
    position: absolute;
    font-size: 5.5rem;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    opacity: 0.15;
    transition: .5s;
}

.new-box:hover::after {
    opacity: .45;
}

.new-text {
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 1px 1px rgb(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transform: translate3d(0, 0, 30px);
    transition: .5s;
}
.new-box:hover .new-text {
    font-size: 2.1rem;
    top: 10px;
    opacity: 1;
}

.detail-buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 90px);
    opacity: 0;
    transition: .5s;
}
.new-box:hover .detail-buttons {
    opacity: 1;
    box-shadow: 0 0 2px black;
    bottom: 5px;
}
.detail-buttons:hover {
    transform: translate3d(-50%, 0, 90px) scale(1.15);
}

.new-vector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 60px);
    width: 80%;
    max-width: 300px;
    transition: .5s;
}

.new-box:hover .new-vector {
    transform: translate3d(-50%, -50%, 60px) scale(1.2);
}